.HeadDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px; /* 원하는 높이로 */
    padding: 0 20px;
    border-bottom: 1px solid #ccc;
    background-color: #f9f9f9;
  }
  
  /* 왼쪽은 비워둬도 됨 */
  .LeftDiv {
    flex: 1;
  }
  
  /* 중앙 (홈 버튼 등) */
  .CenterDiv {
    flex: 1;
    text-align: center;
  }
  
  .CenterDiv a {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  
  /* 오른쪽 로그인/회원가입 버튼 */
  .RightDiv {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
  
  .Login {
    display: flex;
    gap: 30px;
  }

  
  .LoginButton,
  .MemberButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    text-decoration: none;
  }
  
  .MdLogin,
  .FaUserPlus,.FaHome {
    font-size: 40px;
    color: black;
    
  }

  
  