.MountainModal {
    max-width: 40vw;  /* 화면 너비의 80% */
    position:relative;      /* 고정 너비로 하고 싶으면 이걸 사용 */
  /* overflow-y: initial !important; */
  }
  
  .Modalbody{
    max-height: calc(100vh - 200px);
    overflow-y: auto;
  }


  .ModalTitle{
    text-align: center;
    width: 100%;
    
  }

  .ModalHeader{
    justify-content: center;
  }